<div class="row">
  <div class="col-md-4 well">
    <fieldset>
      <legend><strong>Forgot your password?</strong></legend>
    <%= simple_form_for(resource, as: resource_name,
      url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

        <%= f.input :email %>

        <%= f.submit "Send me reset password instructions", class: "btn btn-large btn-success" %>

    <% end %>
    </fieldset>
  </div>
</div>
